html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather";
  margin: 0;
  line-height: 1.25em;
}

p {
  font-size: 12px;
}

header {
  background-color: #cd5b34;
  padding: 1em;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
}

nav {
  background-color: #cd5b34;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  border: 1px solid black;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.inset {
  float: left;
  width: 35%;
  margin-right: 15px;
  margin: 1em;
  border: 1px solid grey;
}

.cereals {
  float: right;
  width: 40%;
  margin-left: 15px;
  margin: 0.5em;
  border: 1px solid grey;
}

.quinoa {
  clear: both;
  float: right;
  width: 40%;
  margin: 0.5em;
  border: 1px solid grey;
}

.p2 {
  clear: left;
  margin: 0.75em;
}


h2 {
  background-color: #d98156;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 1em;
  margin: 0;
  clear: both;
}

.corn {
  width: 100%
}

.rice {
  float: left;
  width: 50%;
}

.oats {
  float: right;
  width: 50%;
}

.title-rice {
  float: left;
  width: 50%;
}

.title-oats {
  float: right;
  width: 50%;
}

h3 {
  background-color: #d98156;
  color: white;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  padding: 0em 0.5em 0.5em 0.5em;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 16px;
}

.legumes {
  float: left;
  width: 25%;
  border: 1px solid grey;
  box-sizing: border-box;
}

.legumes-text {
  float: right;
  clear: right;
  width: 75%;
  font-style: italic;
  margin: 0 0 0 1em;
  box-sizing: border-box;
}

footer {
  clear: both;
  font-size: 10px;
  color: #d98156;
  background-color: #cd5b34;
  padding: 1em;
  text-align: center;
}
